--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
streamlit
supabase
bcrypt
dlib-bin
face_recognition_models
numpy
scikit-learn
pandas
resemblyzer
librosa
Pillow
segno
starlette<0.41.0